@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@font-face {
    font-family: Heading;
    src: url(../fonts/headings.woff);
}
@font-face {
    font-family: Fugure;
    src: url(../fonts/fugue_regular.woff);
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Bubbler One', sans-serif;
}
h2, h3 {
    font-weight: 400;
}
h2 {
    font-family: 'Fugure' ;
    font-size: 48px;
    line-height: 1.3em;
}
h3 {
    font-family: sans-serif;
    line-height: 1.6em;
}
p {
    line-height: 1.7em;
}
header{
    background: linear-gradient(to right, rgb(207,179,173) , rgb(161,231,239));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 70px
}
h1 {
    font-family: 'Fugure' ;
    font-size: 50px;
    font-weight: 700;
}
.logo{
    position: absolute;
    width: 25%;
    height: auto;
    top: 1%;
    left: 2%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
}
nav ul li {
    padding: 30px 60px 0 0;
}
ul li:nth-child(4){
    padding-right: 70px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
ul li a:hover {
    border-bottom: 2px solid black;
}
main {
padding: 95px;
}
main>h2 {
    margin-bottom: 140px;
    font-family: 'Heading' ;
    font-size: 60px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}
section:nth-of-type(1){
    margin-left: 60%;
    margin-bottom: 140px;
}
img[alt="arrow"]{
    width: 4%;
    position: relative;
    top: 100px;
}
section:nth-of-type(2) h2{
    left: 4%;
    position: relative;
    margin-bottom: -10%;
    z-index: 3;
    padding-left: 15px;
}
.overlap{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}
img[alt="water"] {
    max-width: 568px;
    height: auto;
    padding-right: 5%;
    z-index: 1;
}
img[alt="twomens"] {
    max-width: 466px;
    height: auto;
    position: absolute;
    right: 33%;
    bottom: 40%;
    z-index: 2;
}
section:nth-of-type(2) p {
    margin-top: 160px;
    margin-left: 60%;
    margin-bottom: 160px;
}

footer {
    background: linear-gradient(to right, rgb(207,179,173) , rgb(161,231,239));
    padding: 95px;
}
footer h2{
    width: 70%;
    margin: 0 15% 75px 15%;
    color: white;
    text-align: center;
}
.teachers{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.teachers img {
    max-width: 30%;
    height: auto;
    padding: 20px;
}
